<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
>
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %> <% if (post.link || post.title){ %>
    <header class="article-header">
      <%- partial('post/title', {class_name: 'article-title'}) %>
      <hr style="border: none; border-bottom: 1px solid #ddd" />
    </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %> <%- post.excerpt %> <% if
      (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %> <% } else { %> <%- post.content %> <% } %>
    </div>
    <footer class="article-footer">
      <%- partial('post/tag') %>
      <div class="post-stat">
        <span class="post-text-count">文章字数：<%= wordcount(post.content) %></span>
        <span class="post-read-time">阅读时长：<%= min2read(post.content) %>分钟</span>
      </div>
    </footer>
  </div>
  <% if (!index){ %> <%- partial('post/nav') %> <% } %>

</article>