<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
>
  <% if (is_post() || is_home()) { %>
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <% } %>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
    <header class="article-header">
      <% if (post.top) { %>
        <div class="article-top">
          <div class="article-top-text">置顶</div>
        </div>
      <% } %>
      <%- partial('post/title', {class_name: 'article-title'}) %>
      <hr style="border: none; border-bottom: 1px solid #ddd" />
      <% if (is_post() || is_home()) { %>
      <div class="post-stat">
        <span class="post-text-count">字数：<%= wordcount(post.content) %></span>
        <span class="post-read-time">阅读时长：<%= min2read(post.content) %>分钟</span>
        <% if (!(post.excerpt && index)){ %>
          <span class="post-read-count" id="page_pv">阅读：85</span>
        <% } %>
      </div>
      <% } %>
    </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %> <%- post.excerpt %> <% if
      (theme.excerpt_link){ %>
      <p class="article-more-link">
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      </p>
      <% } %> <% } else { %> <%- post.content %> <% } %>
    </div>
    <footer class="article-footer">
      <% if (is_post() || is_home()) { %>
        <span class="article-footer-icon"></span>
      <% } else { %>
        <span class="article-footer-icon like">（（ｏ-ω-）♡（－ω-ｏ））➳❤❤❤</span>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>

</article>

<!--<% if (!index && post.comments){ %>-->
<!--  <section id="comments">-->
<!--    <div id="disqus_thread">-->
<!--      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--    </div>-->
<!--  </section>-->
<!--<% } %>-->
<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="comments" class="vcomment"></section>
<% } %>


<% if (!index){ %> <%- partial('post/nav') %> <% } %>
