<footer id="footer">
  <span id="site-desc">
    本站总字数&nbsp;<%= totalcount(site) %>&nbsp;<br>
    总访问量&nbsp;<span id="web_site_pv">6988</span>&nbsp;次
  </span>
  <% if (theme.sidebar === 'bottom'){ %> <%- partial('_partial/sidebar') %> <% }
  %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; 2016 –
      <%= date(new Date(), 'YYYY') %>
      <span class="footer-love">❤</span>
      <%= config.author || config.title %>
      <br />
      由 <a href="//hexo.io/zh-cn/" target="_blank"> Hexo </a> <%=
      __('powered_by') %>
    </div>
  </div>
</footer>

<div id="fixed-btn" class="fixed-btn">
  <a id="go-top" class="go-top" title="返回顶部"></a>
</div>