<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!--百度抓取验证-->
    <meta name="baidu-site-verification" content="code-CXpwRxPCFG" />
    <!--360抓取验证-->
    <meta name="360-site-verification" content="876d19d290b2fbe4d1bffb4078f8defc" />
    <!--搜狗抓取验证-->
    <meta name="sogou_site_verification" content="qHmMPecQWj"/>
    <!--bing抓取验证-->
    <meta name="msvalidate.01" content="7CD481320A013C2DE11EB5B2985494CB" />
    <!--定义网页的关键字，供搜索引擎搜索-->
    <meta name="keywords" content="<%= config.keywords %>" />
    <!--设置网页作者-->
    <meta name="author" content="<%= config.author %>" />
    <!--设置网页版权-->
    <meta name="copyright" content="<%= config.author %>" />
    <!--设置创建时间-->
    <meta name="date" content="<%= config.startDate %>" />
    <% var title = page.title;
      if (is_archive()) {
        title = __("archive_a");
        if (is_month()) {
            title += ": " + page.year + "/" + page.month;
        } else if (is_year()) {
            title += ": " + page.year;
        }
    } else if (is_category()) {
        title = __("category") + ": " + page.category;
    } else if (is_tag()) {
        title = __("tag") + ": " + page.tag;
    } %>
    <title>
        <% if (title){ %>
          <%= title %> |
        <% } %>
        <%= config.title %>
    </title>
    <%- open_graph({
        twitter_id: theme.twitter,
        google_plus: theme.google_plus,
        fb_admins: theme.fb_admins,
        fb_app_id: theme.fb_app_id
    }) %>
    <% if(theme.rss){ %>
        <link
                rel="alternate"
                href="<%= theme.rss %>"
                title="<%= config.title %>"
                type="application/atom+xml"
        />
    <% } %>
    <% if (theme.favicon){ %>
        <link rel="shortcut icon" type="image/x-icon" href="<%= theme.favicon %>" />
    <% } %>
    <% if (config.highlight.enable){ %>
        <%- css("css/googleapis-fonts") %>
    <% }; %>
    <%- css("css/style") %> <%- partial("google-analytics") %>
    <% if (theme.fancybox){ %>
        <%- css("fancybox/jquery.fancybox") %>
    <% } %>
    <!--百度统计-->
    <%- partial("baidu_tongji") %>
</head>